.animated.d1{
	transition-delay:.3s;
}

.animated.d2{
	transition-delay:.6s;
}

.animated.d3{
	transition-delay:.9s;
}

.animated.d4{
	transition-delay:1.2s;
}

.tab-400{
    max-width:1140px;
}
._c {
    cursor:pointer;
}
