<?xml version="1.0"?>
<appSettings>
  <add key="SendGridUserName" value="azure_7f0829dd38b3fe4a718f4bc0c4d235b6@azure.com" />
  <add key="SendGridPassword" value="V1K08Tn5q26xlG8" />
  <add key="FromNoReply" value="noreply@rgoodwin-budget.azurewebsites.net" />
  <add key="ContactMeEmail" value="rgoodwin16@outlook.com" />
  <add key="AdminFirstName" value="Ray"/>
  <add key="AdminLastName" value="Goodwin"/>
  <add key="AdminDisplayName" value="Nanye East"/>
  <add key ="AdminEmail" value="rgoodwin16@outlook.com"/>
  <add key="AdminPassword" value="leeray1"/>
  <add key="ModeratorEmail" value="moderator@coderfoundry.com"/>
  <add key="ModeratorDisplayName" value="Coderfoundry Moderator"/>
  <add key="ModeratorPassword" value="Password1"/>
</appSettings>

