<?xml version="1.0"?>
<appSettings>
  <add key="SendGridUserName" value="azure_7f0829dd38b3fe4a718f4bc0c4d235b6@azure.com" />
  <add key="SendGridPassword" value="V1K08Tn5q26xlG8" />
  <add key="FromNoReply" value="noreply@rgoodwin-budget.azurewebsites.net" />
  <add key="ContactMeEmail" value="rgoodwin16@outlook.com" />
</appSettings>

