<div class="container">
    <div class="blog-post big-padding" ng-repeat="grant in image.grants track by grant.Id">
        <div class="m-t-40"></div>
        <div class="post-title">
            <h3>{{grant.Title}}</h3>
            <p class=" animated fadeInDown">{{grant.Description}}</p>
        </div>
        <div class="row">
            <div class="col-md-6 animated fadeInLeft">
                <img src="http://localhost:54163/{{grant.ImgBeforeUrl}}" width="500" height="500" class="img-responsive" />
                <p>
                    {{grant.ImgBeforeDescription}}
                </p>
            </div><!-- /left side -->
            <div class="col-md-6 animated fadeInRight">
                <img src="http://localhost:54163/{{grant.ImgAfterUrl}}" width="500" height="500" class="img-responsive" />
                <p>
                    {{grant.ImgAfterDescription}}
                </p>
            </div><!-- /right side -->
        </div><!-- /row -->
    </div><!-- /image-test -->
</div>

