<section id="about">
    <div class="container">
        <h1 class="section-title">My Profile</h1>
        <div class="row profile">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <figure class="hover-wrapper animated fadeInRight">
                    <img class="img-responsive img-circle profile-img" src="../../../Theme_Template/img/profile-pic.png" />
                    <figcaption class="hover-text">That's Me!</figcaption>
                </figure>

                <h2 class="animated fadeInLeft">Ray Goodwin</h2>
                <h3 class="animated fadeInLeft">Web Developer &amp; Web Developer</h3>

                <p class="margin-top animated fadeInRight">
                    I love making things.  Whether it is great art, elegant code or using both to tell a new story I just really enjoy creating something from nothing.
                </p>
                <p class="animated fadeInLeft">
                    For most of my career, I developed creative and innovative solutions to meet the daily challenges of managing a concrete production facility and over a dozen employees.  Throughout the course of my 14 year career I have been known for my leadership and creative problem solving skills.  I have over 10 years of management experience and am a self-starter who is constantly learning new and better ways of creating high quality content.
                </p>
                <p class="animated fadeInRight">
                    As an avid gamer and comic book fan since age 5 technology, art and great story telling have been a huge part of my life.  While working as the plant manager for a concrete company, I rekindled my love of programming and coding and embarked on a journey to teach myself how to build websites with HTML and CSS and to manage them using PHP by teaching myself WordPress.  I am also self-taught and have several years of experience with Adobe Photoshop and Dreamweaver and over two years of experience using Daz 3D Studio.
                </p>
                <p class="animated fadeInLeft">
                    You can see from my portfolio I have created and published my own digital comic book and have developed, launched and maintain a website for it.  All of the content on <a href="http://iwoacomics.com" class="main-color">IWOAComics.com</a> and <a href="http://iwoacomics.com/callahan" class="main-color">Callahan</a> are the result of that creative journey which have led me to turn my creative passion, my desire for learning and my problem solving skills into my career.
                </p>
                <p class="animated fadeInRight">
                    I am a web designer, developer and 3D artist with expertise in HTML5, CSS, JavaScript, and jQuery, JSON, MVC, PHP, WordPress, Photoshop, Visual Studio and Daz 3D Studio. I am meticulous, creative and I love to collaborate with other likeminded individuals to create beautiful content.
                </p>
                <p class="lead margin-top animated fadeInLeft">Creating is not just a job for me, it's my passion. </p>
                <p class="animated fadeInLeft"><a class="btn btn-dc btn-small btn-main-color" href="../../../Theme_Template/Ray+Goodwin+Resume.pdf">Download Resume</a></p>
            </div>
        </div><!-- /row -->
    </div><!-- /container -->
</section><!-- /about -->

<hr />

<section id="services" class="big-padding">
    <div class="container">
        <h1 class="section-title">My Skills</h1>
        <p class="subtitle">Here is a list of skills that I currently have for both back end and front end development.</p>

        <div class="text-center animated fadeInUp">
            <div class="btn-group" >
                <button type="button" class="btn btn-default" ng-click="about.skills = 'front'">Front End</button>
                <button type="button" class="btn btn-default" ng-click="about.skills = 'back'">Back End</button>
            </div>
        </div>
        
        <div class="tab-content">
            <div class="row tab-pane active" ng-show="about.skills == 'front'">
                <div class="col-sm-4 service-item animated fadeInLeft">
                    <div class="service-icon "><i class="fa fa-html5"></i></div>
                    <h3>HTML5</h3>
                </div>

                <div class="col-sm-4 service-item animated fadeInLeft">
                    <div class="service-icon "><i class="fa fa-css3"></i></div>
                    <h3>CSS3</h3>
                </div>

                <div class="col-sm-4 service-item animated fadeInLeft">
                    <div class="service-icon "><i class="fa fa-code"></i></div>
                    <h3>Javascript | jQuery | Bootstrap</h3>
                </div>
            </div><!-- /row -->

            <div class="row tab-pane active" ng-show="about.skills == 'back'">
                <div class="col-sm-4 service-item animated fadeInRight">
                    <div class="service-icon"><i class="fa fa-windows"></i></div>
                    <h3>ASP.NET | MVC</h3>
                </div>

                <div class="col-sm-4 service-item animated fadeInRight">
                    <div class="service-icon"><i class="fa fa-slack"></i></div>
                    <h3>C#</h3>
                </div>

                <div class="col-sm-4 service-item animated fadeInRight">
                    <div class="service-icon"><i class="fa fa-wordpress"></i></div>
                    <h3>WordPress</h3>
                </div>
            </div><!-- /row -->
        </div><!--/ tab-content -->
    </div><!-- /container -->
    
</section><!-- /skills -->

<hr />

<section class="big-padding gray-bg">
    <div class="container">
        <h1 class="section-title">Latest Projects</h1>
        <div class="row">
            <div class="col-sm-5 push-down animated fadeInRight">
                <h2 class="row-title">CODER Foundry - Master Class</h2>
                <p>In July 2015, I attended the 12 week Master Class at the Triad Campus.  During this time I spent over 700 hours learning more and more about HTML5, CSS3, Angular JS, & the .NET Framework.</p>
                <p><a class="btn btn-dc btn-small btn-main-color" href="http://coderfoundry.com">Visit Website</a></p>
            </div>

            <div class="col-sm-6 col-sm-offset-1 animated fadeInLeft">
                <img class="img-responsive" src="../../../Theme_Template/img/featured_coder_2.png" alt="" />
            </div>
        </div><!-- CODER Foundry -->

        <hr>

        <div class="row">
            <div class="col-sm-6 col-sm-push-6 push-down animated fadeInLeft">
                <h2 class="row-title">IWOA Comics - 3D Artwork | Co Founder</h2>
                <p>IWOA Comics was started in 2015 to create and publish Web Comics, particularly comics that presented women in the staring roles.  We believe that often times women are used as props, instead of fully developed characters, so we sought to try to correct that.</p>
                <p>Our first comic - Callahan, is a 3D Comic created using Daz Studio and Photoshop.  Here you can see a great sample of my artwork, as I have provided all the artwork for the comic.</p>
                <p><a class="btn btn-dc btn-small btn-main-color" href="http://iwoacomics.com">Visit Website</a></p>
            </div>

            <div class="col-sm-6 col-sm-pull-6 animated fadeInRight">
                <img class="img-responsive" src="../../../Theme_Template/img/featured-iwoa.png" alt="" />
            </div>

        </div><!-- IWOA Comics -->
    </div><!-- /container -->
</section><!-- /latest-projects -->
