<div class="blog-post" ng-repeat="blog in list.posts">
    <div class="m-t-40"></div>
    <div class="post-title">
        <h3><a ui-sref="blog.details">{{blog.Title}}</a></h3>
    </div>
    <div class="post-meta">
        <span><i class="fa fa-calendar-o"></i> {{blog.Created | date:'shortDate'}}</span>
        <span><i class="fa fa-user"></i> {{blog.AuthorName}}</span>
        <span><i class="fa fa-folder-open-o"></i> in <a ui-sref="blog.search">{{blog.Category.Name}}</a></span>
        <span><i class="fa fa-comments-o"></i> {{blog.Comments.length}}<span ng-show="blog.Comments.Count == '1'">Comment</span><span ng-show="blog.Comments.Count != '1'">Comments</span></span>
    </div>
    <hr />
    <div class="post-body" ng-bind-html="blog.Body | renderHtmlCorrectly">
    </div>
    <br />
    <button type="button" class="btn btn-default" ui-sref="blog.details">Read More</button>
    <div class="m-t-40"></div>
    <hr />
</div>
