<div class="container">

    <div class="row">

        <div id="perfect-numbers" class="col-xs-12 col-lg-4">

            <h2>Perfect Numbers</h2>
            <p>What is a <a href="http://en.wikipedia.org/wiki/Perfect_number">perfect number</a> ?</p>
            <p>In number theory, a perfect number is a positive integer that is equal to the sum of its proper positive divisors, that is, the sum of its positive divisors excluding the number itself (also known as its aliquot sum). Equivalently, a perfect number is a number that is half the sum of all of its positive divisors (including itself) i.e. σ1(n) = 2n.</p>
            <p>The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.</p>
            <p>This program is designed to calculate and then display all Perfect Numbers between 1 &amp; 10000.</p>
            <input type="button" value="Calculate" onclick="displayPerfect(1)" class="btn btn-info" />


        </div><!-- End Perfect Numbers -->

        <div class="col-xs-12 col-lg-2">
            <h4 id="resultPerfect"></h4>
        </div><!-- End Results -->


        <div class="col-xs-12 col-lg-6">

            <pre class="brush: js">
                
                //Perfect Numbers
                    
                    function perfectChecker(n) {
                        var temp = 0;
                        for (var i = 1; i <= n / 2; i++) {
                            if (n % i === 0) {
                                temp += i;
                            }
                        }
                        if (temp === n) {
                            return true;
       
                        } else {
                            return false;
        
                        }
                    }
                    function displayPerfect(num) {
                        var displayHtml = document.getElementById('resultPerfect');
                        for (j = num; j < 10000; j++) {
                            if (perfectChecker(j)) {
                                displayHtml.innerHTML += j + " is a Perfect Number" + "<br />";
                            }
                        }
                    }    
            </pre><!-- End My Code Display -->

        </div><!-- End Syntax Highlighter -->

    </div><!-- End Row -->

</div><!-- End Container-->
