<div class="container" id="projects">
    <h3 class="section-title animated fadeInDown">Word Search</h3>
    <div class="row" ng-controller="projects-searchCtrl as search">
        <div class="col-xs-12 col-sm-6 col-md-5 animated fadeInLeft">
            <p>This program is designed to search through a text doucument and look for a designated keyword.  If the word appears in the text file, then the program will display how many times the word appears.</p>
            <div class="form-group">
                <label class="control-label" for="search">Search Word</label>
                <input type="text" class="form-control" ng-model="search.word" id="search" />
            </div>
            <div class="row">
                <div class="btn btn-default col-xs-12">
                    <span ng-show="search.name == null">Choose File</span>
                    <span ng-show="search.name != null">{{search.name}}</span>
                    <input type="file" on-read-file="search.getTxt($fileContent)" custom-on-change="search.uploadFile" />
                </div>

                <div class="btn btn-default col-xs-12 m-t-20" ng-click="search.calculate()">
                    <span>Calculate</span>
                </div>
            </div>
        </div><!-- /left side -->
    
        <div class="col-xs-12 m-t-20 hidden-md hidden-sm hidden-lg"></div>   

        <div class="col-xs-12 col-sm-6  col-md-7 animated fadeInRight">
            <div class="project-results">
                <h3>Results:</h3>
                <h4 ng-bind-html="search.result | renderHtmlCorrectly"></h4>
                <p ng-bind-html="search.txtContent | renderHtmlCorrectly"></p>
            </div>
        </div><!-- /right side -->
    </div><!-- /row -->

    <div class="m-t-40"></div>

    <hr />

    <div hljs class="animated fadeInUp">
        'use strict';
        angular.module('rg_personal').controller('projects-searchCtrl',function(){
            var self = this;
            this.content = '';
            this.word = '';
            this.result = '';
            this.txtContent = '';

            this.getTxt = function ($fileContent) {
                self.content = $fileContent;
            }

            this.calculate = function () {
                var arr = self.content.match(new RegExp(self.word, 'gi'));
                if (arr == null) {
                    self.result = "The word: " + "<strong class='text-warning'>" + self.word + "</strong>" + " did not appear in this text file.";
                } else if (arr.length == 1) {
                    self.result = "The word: " + "<strong class='text-warning'>" + self.word + "</strong>" + " appears one time in this text file.";
                    self.txtContent = self.content.replace(new RegExp(self.word, 'gi'), "<strong class='text-warning'>" + self.word + "</strong>");
                } else {
                    self.result = "The word: " + "<strong class='text-warning'>" + self.word + "</strong>" + " appears " + arr.length + " times in this text file.";
                    self.txtContent = self.content.replace(new RegExp(self.word, 'gi'), "<strong class='text-warning'>" + self.word + "</strong>");
                }
            }
        })
    </div><!-- /code -->
</div><!-- /container -->


