<div class="container" id="projects">
    <h3 class="section-title animated fadeInDown">Longest Word</h3>
    <div class="row" ng-controller="projects-longestCtrl as longest">
        <div class="col-xs-12 col-sm-6 col-md-5 animated fadeInLeft">
            <p>This program is designed to search through a text file and display the longest word within it.</p>
            <div class="row">
                <div class="btn btn-default col-xs-12">
                    <span ng-show="longest.name == null">Choose File</span>
                    <span ng-show="longest.name != null">{{longest.name}}</span>
                    <input type="file" on-read-file="longest.getTxt($fileContent)" custom-on-change="longest.uploadFile" />
                </div>
                <div class="col-xs-12 m-t-20 btn btn-default" ng-click="longest.calculate()">
                    <span>Calculate</span>
                </div>
            </div>
        </div><!-- /left side -->

        <div class="col-xs-12 m-t-20 hidden-md hidden-sm hidden-lg"></div>

        <div class="col-xs-12 col-sm-6  col-md-7 animated fadeInRight">
            <div class="project-results">
                <h3>Results:</h3>
                <h4>{{longest.result}}</h4>
            </div>
        </div><!-- /right side -->
    </div><!-- /row -->

    <div class="m-t-40"></div>

    <hr />

    <div hljs class="animated fadeInUp">
        'use strict';
        angular.module('rg_personal').controller('projects-longestCtrl', function () {
            var self = this;
            this.content = '';
            this.result = '';

            this.getTxt = function ($fileContent) {
                self.content = $fileContent;
            }

            this.calculate = function () {
                var arr = self.content.split(new RegExp(/[\s,()\n\r\t]+/));
                var longest = '';
                for (var i = 0; i < arr.length; i++) {
                    var current = arr[i];
                    if (current.length > longest.length)
                        longest = current;
                }
                 self.result =  "The longest word in the txt file is: " + longest;
            }

        })
    </div><!-- /code -->
</div><!-- /container -->
