<div class="container" id="projects">
    <h3 class="section-title animated fadeInDown">Factorials</h3>
    <div class="row" ng-controller="projects-factCtrl as fact">
        <div class="col-xs-8 animated fadeInDown">
            <p>What is a <a href="http://en.wikipedia.org/wiki/Factorial" class="main-color">factorial</a> ?</p>
            <p>In mathematics, the factorial of a non-negative integer n, denoted by n!, is the product of all positive integers less than or equal to n. For example,</p>
            <p>5! = 5 x 4 x 3 x 2 x 1 = 120.</p>
            <p>This program is designed to display the Factorial of a given number.</p>
            <div class="row">
                <div class="col-xs-2">
                    <input type="text" class="form-control" ng-model="fact.model.num" />
                </div>
                <div class="col-xs-10">
                    <button type="button" class="btn btn-default" ng-click="fact.calculate(model)">Calculate</button>
                </div>
            </div><!-- /row -->
        </div><!-- /left side -->
        <div class="col-xs-4 project-results">
            <h3>Results:</h3>
            <h4 class="text-right">{{fact.result}}</h4>
        </div><!-- /right side -->
        </div><!-- /row -->
    <div hljs class="animated fadeInUp">
        'use strict';
        angular.module('rg_personal').controller('projects-factCtrl', ['$state', function ($state) {
            var self = this;
            this.$state = $state;
            this.model = {};
            this.result = '';

            this.factorial = function(n) {
                if (isNaN(n) || n < 1) {
                    self.result = 'Please enter a positive interger.';
                }

                if (n === 1) {
                    return 1;
                }

                return n * self.factorial(n -1);
            }

            this.calculate = function (model) {
                self.result = "The factorial of " + self.model.num +" is: "+  self.factorial(self.model.num);
            }

        }])
    </div><!-- /hljs -->
</div><!-- /container -->
