<div class="container" id="projects">
    <h3 class="section-title animated fadeInDown">Word Filter</h3>
    <div class="row" ng-controller="projects-filterCtrl as filter">
        <div class="col-xs-4 animated fadeInLeft">
            <p>This program is designed to search through a text file, find every word that is longer than a given interger, and then display those words.</p>
            <input type="file" on-read-file="filter.getTxt($fileContent)" />
            <input type="text" class="form-control" ng-model="filter.num" />
            <button type="button" class="btn btn-default" ng-click="filter.calculate()">Calculate</button>
        </div><!-- /left side -->
        <div class="col-xs-8 animated fadeInRight project-results">
            <h3>Results:</h3>
            <h4 ng-bind-html="filter.result | renderHtmlCorrectly"></h4>
        </div><!-- /right side -->
    </div><!-- /row -->
    <div hljs class="animated fadeInUp">
        'use strict';
        angular.module('rg_personal').controller('projects-filterCtrl',function() {
            var self = this;
            this.content = '';
            this.num = '';
            this.result = '';

            this.getTxt = function ($fileContent) {
                self.content = $fileContent;
            }

            this.calculate = function () {
                var filterNum = self.num;
                var arr = self.content.split(new RegExp(/[\s,()\n\r\t]+/));
                var filterWord = '';
                var selectedWord = '';
                var printedWords = {};
                for (var i = 0; i < arr.length; i++) {
                    selectedWord = arr[i].replace(/[^\w]/gi, ' ').toLowerCase();
                    if (selectedWord.length > filterNum) {
                        if (printedWords[selectedWord] == null) {
                            filterWord += selectedWord + "<br />";
                            printedWords[selectedWord] = true;
                        }
                    }
                }
                self.result = filterWord;
            }
        })
    </div><!-- /code -->
</div><!-- /container -->

