<div class="container" id="projects">
    <h3 class="section-title animated fadeInDown">Longest Word</h3>
    <div class="row" ng-controller="projects-longestCtrl as longest">
        <div class="col-xs-8 animated fadeInLeft">
            <p>This program is designed to search through a text file and display the longest word within it.</p>
            <div class="btn btn-default">
                <span>File</span>
                <input type="file" />
            </div>
        
        </div><!-- /left side -->
        <div class="col-xs-4 animated fadeInRight project-results">
            <h3>Results:</h3>
        </div><!-- /right side -->
    </div><!-- /row -->
    <div hljs class="animated fadeInUp">

    </div><!-- /code -->
</div><!-- /container -->
<div class="container">

    <div class="row">
        <div id="longest-word" class="col-xs-12 col-lg-6">
            <h2>Longest Word</h2>
            <p>This program is designed to search through a text file and display the longest word within it.</p>
            <input type="file" id="fileInput" /><br />
            <input type="button" value="Search" onclick="longestReadText()" class="btn btn-info" />

            <div class="results">
                <h4 id="resultLongest"></h4>
            </div>
        </div><!-- end longest-word -->

        <div class="col-xs-12 col-lg-6">

            <pre class="brush: js">
            
                //Longest Word 
                
                (function () {
   
                    //============= Longest Word Reader =====================================//
                    window.longestReadText = function () {
                        var reader = new FileReader();
        
                        var output = "";
                        var filePath = document.getElementById('fileInput');
                        if (filePath.files && filePath.files[0]) {
                            reader.onload = function (e) {
                                output = e.target.result;
                                var longest = longestWordChecker(output);
                                displayLongestWord(longest)
                            }; //end onload()
                            reader.readAsText(filePath.files[0]);
                        } //end if html5 filelist support
                    }
                    //============= Longest Word Checker & Display =========================//
                    function longestWordChecker(txt) {
                        var str = txt.split(new RegExp(/[\s,()\n\r\t]+/));
        
                        console.log(str);
                        var longest = ' ';
                        for (var i = 0; i < str.length; i++) {
            
                            var current = str[i];
                            if (current.length > longest.length)
                                longest = current;
                        }
                        return longest;
                    }
    
                    function displayLongestWord(word) {
                        var longestResult = document.getElementById('resultLongest');
                        longestResult.innerHTML = "The longest word in this file is: " + "<strong>" + word + "</strong>";
                    }
                })();
                
            </pre><!-- End My Code Display -->

        </div><!-- End Syntax Highlighter -->

    </div><!-- End Row -->

</div><!-- End Container -->