<div class="container" id="projects">
    <h3 class="section-title animated fadeInDown">Word Frequency</h3>
    <div class="row" ng-controller="projects-frequencyCtrl as frequency">
        <div class="col-xs-4 animated fadeInLeft">
            <p>This program is designed to search through a text file and then display how many times each word shows up.</p>
            <input type="file" on-read-file="frequency.getTxt($fileContent)" />
            <button type="button" class="btn btn-default" ng-click="frequency.calculate()">Calculate</button>
        </div><!-- /left side -->
        <div class="col-xs-8 animated fadeInRight project-results">
            <h3>Results:</h3>
            <h4 ng-bind-html="frequency.result | renderHtmlCorrectly"></h4>
        </div><!-- /right side -->
    </div><!-- /row -->
    <div hljs class="animated fadeInUp">
        'use strict';
        angular.module('rg_personal').controller('projects-frequencyCtrl',function() {
            var self = this;
            var content = '';
            var result = '';

            this.getTxt = function ($fileContent) {
                self.content = $fileContent;
            }

            this.calculate = function () {
                var arr = self.content.split(" ");
                var wordFrequency = "";
                var selectedWord = "";
                var printedWords = {};
                // First Count The Words in the Array
                for (var i = 0; i < arr.length; i++) {
                    selectedWord = arr[i].replace(/[^\w]/gi, '').toLowerCase();
                    if (printedWords[selectedWord] != null)
                        printedWords[selectedWord]++;
                    else
                        printedWords[selectedWord] = 1;
                }
                // Create Dictionary - Create Array of Objs
                var objArr = [];
                for (var key in printedWords) {
                    objArr.push({ word: key, count: printedWords[key] });
                }
                //Sort Dictionary in Descending Order
                objArr.sort(function (a, b) { return b.count - a.count });
                wordFrequency = objArr.reduce(function (a, b) {
                    return a += b.word + " appears " + b.count + " times." + "<br />"
                }, " ");
                self.result =  wordFrequency;
            }
        })
    </div><!-- /code -->
</div><!-- /container -->

