<div class="container" id="projects">
    <h3 class="section-title animated fadeInDown">Word Search</h3>
    <div class="row" ng-controller="projects-searchCtrl as search">
        <div class="col-xs-4 animated fadeInLeft">
            <p>This program is designed to search through a text doucument and look for a designated keyword.  If the word appears in the text file, then the program will display how many times the word appears.</p>
            <input type="file" on-read-file="search.getTxt($fileContent)" />
            <input type="text" class="form-control" ng-model="search.word" />
            <button type="button" class="btn btn-default" ng-click="search.calculate()">Calculate</button>
        </div><!-- /left side -->
        <div class="col-xs-8 animated fadeInRight project-results">
            <h3>Results:</h3>
            <h4 ng-bind-html="search.result | renderHtmlCorrectly"></h4>
            <p ng-bind-html="search.txtContent | renderHtmlCorrectly"></p>
        </div><!-- /right side -->
    </div><!-- /row -->
    <div hljs class="animated fadeInUp">
        'use strict';
        angular.module('rg_personal').controller('projects-searchCtrl',function(){
            var self = this;
            this.content = '';
            this.word = '';
            this.result = '';
            this.txtContent = '';

            this.getTxt = function ($fileContent) {
                self.content = $fileContent;
            }

            this.calculate = function () {
                var arr = self.content.match(new RegExp(self.word, 'gi'));
                if (arr == null) {
                    self.result = "The word: " + "<strong class='text-warning'>" + self.word + "</strong>" + " did not appear in this text file.";
                } else if (arr.length == 1) {
                    self.result = "The word: " + "<strong class='text-warning'>" + self.word + "</strong>" + " appears one time in this text file.";
                    self.txtContent = self.content.replace(new RegExp(self.word, 'gi'), "<strong class='text-warning'>" + self.word + "</strong>");
                } else {
                    self.result = "The word: " + "<strong class='text-warning'>" + self.word + "</strong>" + " appears " + arr.length + " times in this text file.";
                    self.txtContent = self.content.replace(new RegExp(self.word, 'gi'), "<strong class='text-warning'>" + self.word + "</strong>");
                }
            }
        })
    </div><!-- /code -->
</div><!-- /container -->


