<div class="container" id="projects">
    <h3 class="section-title animated fadeInDown">Longest Word</h3>
    <div class="row" ng-controller="projects-longestCtrl as longest">
        <div class="col-xs-8 animated fadeInLeft">
            <p>This program is designed to search through a text file and display the longest word within it.</p>
            <input type="file" on-read-file="longest.getTxt($fileContent)" />
            <button type="button" class="btn btn-default" ng-click="longest.calculate()">Calculate</button>
        </div><!-- /left side -->
        <div class="col-xs-4 animated fadeInRight project-results">
            <h3>Results:</h3>
            <h4>{{longest.result}}</h4>
        </div><!-- /right side -->
    </div><!-- /row -->
    <div hljs class="animated fadeInUp">
        'use strict';
        angular.module('rg_personal').controller('projects-longestCtrl', function () {
            var self = this;
            this.content = '';
            this.result = '';


            this.getTxt = function ($fileContent) {
                self.content = $fileContent;
            }

            this.calculate = function () {
                var arr = self.content.split(new RegExp(/[\s,()\n\r\t]+/));
                var longest = '';
                for (var i = 0; i < arr.length; i++) {
                    var current = arr[i];
                    if (current.length > longest.length)
                        longest = current;
                }
                 self.result =  "The longest word in the txt file is: " + longest;
            }

        })
    </div><!-- /code -->
</div><!-- /container -->
